<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="producto"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

        <h3>
          Usuario: {{usuario.rialname}}
        </h3>

        <div class="square"></div>
        <div class="botones">
        <button id="play">Correr animacion</button>
        <button id="pause">Pausar animacion</button>
        <button id="stop">Detener animacion</button>
        </div>

  </ion-card>

  <ion-card>

    <img src="../../assets/fondos/JOJOS.png" alt="">

  </ion-card>

</ion-content>