<ion-header>
  <ion-toolbar color="estilopropio">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="titulo">Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="perfilcard">
    
    <div class="fotoperfil">
      <img class="fotoperfil2" src="../../assets/fondos/Pikachu.png" alt="">
    </div>
    <small>USUARIO</small>
    <p>{{usuario.user}}</p>
    <button class="botondetalle" [routerLink]="['/detalles-perfil']">DETALLES DEL PERFIL</button>

  </ion-card>

  <ion-card>
        <div class="square"></div>
        <div class="botones">
        <button id="play">Correr animacion</button>
        <button id="pause">Pausar animacion</button>
        <button id="stop">Detener animacion</button>
        </div>

  </ion-card>
  
</ion-content>