<ion-header>
  <ion-toolbar class="color-body">
    <ion-title class="color-title">Registro de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Nombre</ion-label>
      <ion-input [(ngModel)]="mdl_nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="person-outline"></ion-icon> Apellido</ion-label>
      <ion-input [(ngModel)]="mdl_apellido"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="mail-outline" position="floating"></ion-icon> Correo </ion-label>
      <ion-input type="email" placeholder="email@mail.com" [(ngModel)]="mdl_correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="bag-outline"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" placeholder="*********" [(ngModel)]="mdl_pass"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating"><ion-icon name="bag-outline"></ion-icon> Repita Contraseña</ion-label>
      <ion-input type="password" placeholder="*********" [(ngModel)]="mdl_pass2"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" (click)="usuarioAlmacenar()" >REGISTRAR</ion-button>
</ion-content>
