<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo">
      Tienda JOJO 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h2>Descubre nuestros productos</h2>
  </div>

  <ion-button id="botonprod" class="botonprod" [routerLink]="['/catalogo-productos']">
    <img src="https://www.asicomsystems.com.mx/img/saas/dispositivos_img.png" alt="">
  </ion-button>


  <div class="cajabtninicio">
    <div class="botonnav">
      <ion-fab>
        <ion-fab-button>
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button [routerLink]="['/producto']">
            <ion-icon name="storefront-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button [routerLink]="['/catalogo-productos']">
            <ion-icon name="gift-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button [routerLink]="['/datos']">
            <ion-icon name="earth-sharp"></ion-icon>
          </ion-fab-button>
          <ion-fab-button [routerLink]="['/perfil']">
            <ion-icon name="person-sharp"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>

</ion-content>