<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="titulo">
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-label >Usuario : {{data.usuario}}</ion-label>
      </ion-item>
      <ion-button (click)="salir()">Cerrar sesion</ion-button>
      <ion-button (click)="color()">colorr</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="irtienda()"> Vamos a la tienda </ion-button>
</ion-content>
