


<ion-content>
  
  <ion-buttons class="barrabtnbck">
    <ion-back-button defaultHref="catalogo-productos"></ion-back-button>
  </ion-buttons>

  <div *ngIf="detalle_prod">

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div id="contenedorbtns" class="carousel-indicators">
          <button id="btncarru" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"  aria-label="Slide 1"></button>
          <button id="btncarru" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button id="btncarru" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div  class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{detalle_prod.image1}}" class="" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{detalle_prod.image2}}" class=" " alt="...">
          </div>
          <div class="carousel-item">
            <img src="{{detalle_prod.image3}}" class="" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <div>
        <h1>{{detalle_prod.name}}</h1>
      </div>
 
      <div>
        <p>{{detalle_prod.description}}</p>
      </div>


  </div>


</ion-content>
