<ion-header>
  <ion-toolbar class="head">
    <ion-title id="Title">JOJO APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <div class="seccionchilds">
    <div class="imageninicio">
      <img src="../../assets/fondos/JoJosbizarre.png" alt="">
      <h2>Jose</h2>
    </div>
    <ion-router-outlet></ion-router-outlet>
  </div>


  <ion-card>
    <ion-toolbar>
      <ion-segment value="inicio" (ionChange)="segmentChanged($event)">

        <ion-segment-button value="login" id="abre">
          <small>Login</small>  
          <ion-icon name="log-in-sharp"></ion-icon>
        </ion-segment-button>

        <ion-segment-button value="registrar">
          <small>Registro</small>
          <ion-icon name="accessibility-sharp"></ion-icon>
        </ion-segment-button>
        
      </ion-segment>
    </ion-toolbar>
  </ion-card>

</ion-content>